.nav-title {
    background-color: firebrick;
}

a:link {
    text-decoration: none;
    color: aliceblue;
}

a:visited {
    text-decoration: none;
    color: aliceblue;
}

a:hover {
    text-decoration: none;
    color: white;
}

a:active {
    text-decoration: none;
}
